@media (min-width: 32.5em) {
    header {
        border: 3px solid rgb(24, 141, 116);
        border-radius: 5px;
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
        justify-items: center;
    }

    header img {
        float: left;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    footer {
        border: 3px solid rgb(24, 141, 116);
        border-radius: 5px;
    }
}