* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Sriracha', cursive;
    height: 100%;
}

header, main, footer {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 1px solid rgb(24, 141, 116);
    padding: .5rem;
    background-color: rgba(150, 163, 170, 0.658);
    text-align: center;
}

header img {
    width: 191px;
    height: 124px;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
    padding-left: .25rem;
    border-bottom: solid rgb(103, 43, 201);
}

footer {
    margin: 3rem auto;
    border: 1px solid rgb(24, 141, 116);
    padding: .5rem;
    background-color: rgba(150, 163, 170, 0.658);
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
}

ul {
    padding: 1.5rem 3rem;
    border-bottom: solid rgb(103, 43, 201);
}
