* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Sriracha', cursive;
}

header, main, footer {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 5px solid rgb(24, 141, 116);
    border-radius: 8px;
    padding: .5rem;
    background-color: rgba(129, 139, 145, 0.658);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

h1 {
    padding-left: 4.5rem;
}

header picture {
    width: 100%;
}

h2 {
    border-bottom: solid rgb(103, 43, 201);
}

footer {
    margin: 3rem auto;
    border: 5px solid rgb(24, 141, 116);
    border-radius: 8px;
    padding: .5rem;
    background-color: rgba(129, 139, 145, 0.658);
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
}

ul {
    padding: 1.5rem 3rem;
    border-bottom: solid rgb(103, 43, 201);
}

p {
    color: rgb(103, 43, 201);
}