@media only screen and (min-width: 1100px) {

    /* - overall page - */
    h1 {
        font-size: 2.5rem;
    }

    /* - header - */
    #hamBtn {display: none;}

    nav ul#primNav {
        display: flex;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .5rem 1rem;
        font-size: 1.4rem;
    }

    .logo {
        height: 110px;
        padding: .5rem;
    }

    /* - main - */
    main {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/5;
    }

    .hero picture {
        display: flex;
        justify-content: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .news {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .spotlight {
        grid-column: 3/4;
        grid-row: 1/5;
        display: block;   
    }

    .spot1, .spot2, .spot3 {
        width: 100%;
    }

    .spot3 {
        display: block;
    }

    .join {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 3/4;   
    }

    /* - footer - */
    .footerTop {
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-evenly;
    
    }
}